<% extend('../partials/layout') %>

<%- include('../partials/menu.ejs') %>

<div class ='add projects'>
    <form action='/projects/add' method='POST'>
        <%- include('../partials/project-form.ejs') %>
    </form>
</div>