<nav>
    <div class='site-title'>
        <a href='/'> <h1> Employee Management System </h1> </a>
        <p> A sample website </p>
    </div>
    <ul>
        <li> <a href='/'> Employees </a> </li>
        <li> <a href='/employees/add'> Add Employee </a> </li>
        <li> <a href='/projects'> Projects </a> </li>
        <li> <a href='/projects/add'> Add Project </a> </li>
    </ul>
</nav>