<label for='name'> Project Name: </label>
    <input type='text' id='name' name='name'<% if(locals.project) {%> value="<%= project.name %>" <% } %> required>
    
    <!-- Needed Implementations
        1. Add/remove fields
        2. Does not update project list of employee
     -->

    <% if(locals.project) { %>
        <h1>Manage Employees</h1>
        <% if(project.employees.length > 0) { %>
            <input type='text' name="employees[]" value="<%= project.employees[0] %>">
             <% for (var i = 1; i < project.employees.length;  i++ ) { %>
                <input type='text' name="employees[]" value="<%= project.employees[i] %>" required>
            <% } %>        
        <% } else { %>
            <input type='text' name="employees[]" value="<%= project.employees[0] %>">
        <% } %>
    <% } %>

<button> Submit </button>
