<html>
    <head>
    </head>
    <body>
        <h1> Hello World </h1>
        <div class = 'addToProject employee'>
            <form action='/employee/addProj/<%= employee._id %>', method='POST'>
                <label for='project'> Project: </label>
                    <select id='project' name='project' selected="Select Project"> </select>
                <button> Submit </button>
            </form>
        </div>
    </body>

    <script>
        console.log('SCRIPT IS STARTING')
        var projects = document.getElementById('project')
        var nameArray = '<%= projNames %>'
        var names = nameArray.split(',')

        for(var i = 0; i < names.length; i++) {
            var element = document.createElement('option')
            element.textContent = names[i]
            element.value = names[i]
            projects.appendChild(element)
        }
    </script>
</html>