<% extend('../partials/layout') %>

<%- include('../partials/menu.ejs') %>

<div class ='add employees'>
    <form action='/employees/<%= employee._id %>', method='POST'>
        <%- include('../partials/employee-form.ejs', '{employee: employee') %>
    </form>
</div>