<html>
    <head>
        <title> API app</title>
    </head>
    <body>
        <nav>
            <div class='site-title'>
                <a href='/'> <h1> Employee Management System </h1> </a>
                <p> A sample website </p>
            </div>
            <ul>
                <li> <a href='/'> Employees </a> </li>
                <li> <a href='/employee/create'> Create Employee </a> </li>
            </ul>
        </nav>

        <div class ='add employees'>
            <form action='/employees' method='POST'>
                <label for='name'> Food Name: </label>
                    <input type='text' id='name' name='name' required>
                <label for='birthday'> Price: </label>
                    <input type='text' id='birthday' name='birthday' required>
                <label for='sex'> Description: </label>
                    <input type='text' id='sex' name='sex' required>
                <label for='address'> Availabiliy: </label>
                    <input type='text' id='address' name='address' required>
                <label for='dateHired'> Availabiliy: </label>
                    <input type='text' id='dateHired' name='dateHired' required>
                <button> Submit </button>
            </form>
        </div>

    </body>

</html>