<% extend('partials/layout') %>

<%- include('partials/menu.ejs') %>

<div class="dot-strip">
    
    <div class="circle left">
        <div class="circle-inner">
            <!-- <span class="circle-span"> -->
                <label class="before"><i class="gg-today"></i></label>
                <label class="after">ORGANIZING</label>
            <!-- </span> -->
        </div>       
    </div>

    <div class="circle middle">
        <div class="circle-inner">
            <!-- <span class="circle-span"> -->
                <label class="before right"><i class="gg-feed"></i></label>
                <label class="after">PLANNING</label>
            <!-- </span> -->
        </div>
    </div>

    <div class="circle right">
        <div class="circle-inner">
            <!-- <span class="circle-span"> -->
                <label class="before"><i class="gg-comment"></i></label>
                <label class="after">DISTRIBUTION</label>
            <!-- </span>  -->
        </div>
    </div>
    
    <div class="logo">
        <div class="triangle"></div>
    </div>

    <div class="text">
        <label class="header">EMS</label>
        <label class="sub-header">A CRUD API employee management system to help businesses</label>
        <label class="sub-header">and promote healthy work distribution</label>
    </div>
</div>

<div class="white-strip">
    j
</div>
